h1 {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center; 
    background-image: url("../Images/pattern.jpeg");
}

h2 {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.prices {
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}